.rating {
  font-size: 1.1rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.3rem 1.2rem;
  background-color: #618b4a;
  border-radius: 1rem;
}

.red {
  background-color: #de3c4b;
}

.yellow {
  background-color: #ffdd47;
  color: white;
}

.green {
  background-color: #559150;
  color: white;
}
