.container {
  width: 95%;
  margin: auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (min-width: 1000px) {
  .home {
    margin-left: 200px;
  }
}
