:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-color: #1f1f1e;
  color: white;
  font-family: 'Lato', sans-serif;
}

.link {
  color: inherit;
  text-decoration: inherit;
}
