:root {
  box-sizing: border-box;
  font-size: 12px;
}

*,
::before,
::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background-color: #1f1f1e;
  color: white;
  font-family: 'Lato', sans-serif;
}

.link {
  color: inherit;
  text-decoration: inherit;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.form input {
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.btn {
  text-transform: uppercase;
  padding: 0.6rem 1.2rem;
  color: white;
  background-color: #083d77;
  border: none;
  flex-grow: unset;
}

.btn_google {
  text-transform: uppercase;
  padding: 0.6rem 1.2rem;
  color: white;
  background-color: #91273e;
  border: none;
  margin-top: 0.7rem;
}

@media only screen and (min-width: 700px) {
  :root {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1000px) {
  :root {
    font-size: 16px;
  }
}
